{% extends "base.html" %}


{% block carousel %}

<div id="myCarousel" class="carousel slide fluid">
    <div class="carousel-inner fluid">
        <div class="item active">
            <a href="/polls/1/"><img src="/static/img/bestofthebest.png"/></a> 
        </div>
        <div class="item">
            <a href="/polls/2/"><img src="/static/img/mostromantic.png"/></a>
        </div>
        <div class="item">
            <a href="/polls/3/"><img src="/static/img/bestforkids.png"/></a>
        </div>
    </div>

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


{% endblock %}

{% block content %}    

<div class="container">
    <div class="row">
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/1/">
                <img src="/static/img/01centralpark.png" alt="Central Park" />
            </a>
                <h4 align="center">Central Park</h4>
        </div>   
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/2/">
                <img src="/static/img/02bronxpark.png" alt="Bronx Park" />
            </a>
                <h4 align="center">Bronx Park</h4>            
        </div>  
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/3/">
                <img src="/static/img/03washingtonsquarepark.png" alt="Washington Square Park" />
            </a>
                <h4 align="center">Washington Square Park</h4>
        </div>       
    </div>
    <br>
    <br>
    <div class="row">
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/4/">
                <img src="/static/img/04forttilden.png" alt="Fort Tilden" />
            </a>
                <h4 align="center">Fort Tilden</h4>
        </div>  
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/5/">
                <img src="/static/img/05vancortlandpark.png" alt="Van Cortland Park" />
            </a>
                <h4 align="center">Van Cortland Park</h4>
        </div>  
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/6/">
                <img src="/static/img/06pelhambaypark.png" alt="Pelham Bay Park" />
            </a>
                <h4 align="center">Pelham Bay Park</h4>
        </div>  
    </div>
    <br>
    <br>
    <div class="row">
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/7/">
                <img src="/static/img/07greatkillspark.png" alt="Great Kills Park" />
            </a>
                <h4 align="center">Great Kills Park</h4>
        </div>  
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/8/">
                <img src="/static/img/08prospectpark.png" alt="Prospect Park" />
            </a>
                <h4 align="center">Prospect Park</h4>
        </div>  
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/9/">
                <img src="/static/img/09silverlakepark.png" alt="Silver Lake Park" />
            </a>
                <h4 align="center">Silver Lake Park</h4>
        </div>  
    </div>
    <br>
    <br>
    <div class="row">
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/10/">
                <img src="/static/img/10flushingmeadowspark.png" alt="Flushing Meadows Park" />
            </a>
                <h4 align="center">Flushing Meadows Park</h4>
        </div>  
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/11/">
                <img src="/static/img/11morningsidepond.jpg" alt="Morningside Pond" />
            </a>
                <h4 align="center">Morningside Pond</h4>
        </div>  
        <div class="span4 fluid">
            <a class="thumbnail" href="/polls/park/12/">
                <img src="/static/img/12thehighline.png" alt="The Highline" />
            </a>
            <h4 align="center">The Highline</h4>
        </div>  
        
    </div>




</div>

{% endblock %}
