{% extends "base.html" %}

{% block content %}    
    
<div class="span12">
    <div class="hero-unit">
        <h1>CinePoll</h1>
            <p>This project polls you on your favorite films and recommends movies based on what you've chosen.</p>
            <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

    </div><!--/row-->


<ul class="media-grid poll-list">
    <li class="span12">
    {% for poll in latest_poll_list %}
        <div class="span4 thumbnail">
            <img data-src="hamburg.png" alt="">
            <h4><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></h4>
        </div>
    {% endfor %}
    </li>
</ul>


{% endblock %}


