{% extends "base.html" %}


{% block carousel %}

<div id="myCarousel" class="carousel slide hero-unit fluid">
    <h1>Metropolitan Minds</h1>
    <div class="carousel-inner fluid">
        <div class="item active">
            <img src="/static/img/hamburg2.jpg"/>    
        </div>
        <div class="item">
            <img src="/static/img/hamburg3.jpg"/>
        </div>
        <div class="item">
            <img src="/static/img/hamburg2.jpg"/>
        </div>
        <div class="item">
            <img src="/static/img/hamburg3.jpg"/>
        </div>
    </div>

          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


{% endblock %}
{% block content %}    
    
<ul class="span12 poll-list fluid">
    <div class="span12 fluid">
    {% for poll in latest_poll_list %}
        <div class="span4 thumbnail fluid">
            <img data-src="/static/img/hamburg2.jpg"> 
            <h4><a href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></h4>
        </div>
    {% endfor %}
    </div>
</ul>


{% endblock %}


