<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Sarit's Poll Site{% endblock %}</title>
    
    <!-- Le styles -->
    <link href="{% static 'polls/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap-responsive.css' %}" rel="stylesheet">
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-146052-10']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/polls/">Home</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/polls/">Polls</a>
              </li>
              <li class="">
                <a href="/admin/">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    
    <br>
    <br>
    <br>
    

    <!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>
    {% block header %}
    The Polls Page
    {% endblock %}</h1>
    <p class="lead">
    {% block subheader %}
    Vote on a poll to see results.
    {% endblock %}</p>    
  </div>
</header>
    
    <br>
    
    {% block content %}
    {% endblock %}
    
    <br>
    <br>
    <br>
    <hr>
    
    <div class="bs-docs-example">
        <address>
            <strong>
            {% block companyname %}
            Atto Consulting
            {% endblock %}
            </strong><br>

            {% block address %}
            Made in<br>
            New York, NY<br>
            {% endblock %}
        </address>

        <address>
            <strong>
            {% block fullname %}
            Sarit Moran
            {% endblock %}
            </strong><br>
            <a href="mailto:#">
            {% block email %}
            sarit@attoconsulting.com
            {% endblock %}</a>
        </address>
    </div>


</body>
</html>
